<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/contact.css" rel="stylesheet" type="text/css">
</head>
<body>

<h3>Get Intouch</h3>

<div class="container">
  <form method="POST" action="/contact">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name.." required="">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="inputEmail">Email address</label> 
    <input type="email" id="email2" name="email2" placeholder="" required=""> <br>


    <label for="subject">Message</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>
