<h1 class="mt-4">Meet our photographers</h1>
<p class="lead mb-3">Welcome</p>




<div id="images">
   <a href="/contact">
    <img alt="photographer" src="https://images.pexels.com/photos/3252086/pexels-photo-3252086.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
    width="400" height="500" style="margin:  20px 20px" ></a>
    <div class="caption">Samuel Ethan </div>
    <a href="/contact">    <img alt="photographer" src="https://images.pexels.com/photos/1065010/pexels-photo-1065010.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
    width="400" height="500" style="margin: 20px 20px"> 
 </a>
 <div class="caption">Mary Rampon</div>
</div>

<div id="images">
    <a href="/contact">    <img alt="photographer" src="https://images.pexels.com/photos/2764970/pexels-photo-2764970.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
    width="400" height="500" style="margin: 20px 20px">
 </a>
 <div class="caption">Slayer Michael</div>


 <a href="/contact">    <img alt="photographer" src="https://images.pexels.com/photos/1484794/pexels-photo-1484794.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
    width="400" height="500" style="margin: 20px 20px"> 
 </a> <div class="caption">Remi Ade</div>

</div><br>
<a href="/users/logout" class="btn btn-secondary">Logout</a>


<style>
    #images{
    text-align:center;
    margin:50px auto;
    display: inline-block;
    align-content: center;
}

    </style>