<!Doctype html>
<html>
  <head>
    <style>
      @import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

/* Override UGG site */
#main {width: 100%; padding:0;}
.content-asset p {margin:0 auto;}
.breadcrumb {display:none;}

/* Helpers */
/**************************/
.margin-top-10 {padding-top:10px;}
.margin-bot-10 {padding-bottom:10px;}

/* Typography */
/**************************/
#parallax-world-of-ugg h1 {font-family:'Oswald', sans-serif; font-size:24px; font-weight:400; text-transform: uppercase; color:black; padding:0; margin:0;}
#parallax-world-of-ugg h2 {font-family:'Oswald', sans-serif; font-size:70px; letter-spacing:10px; text-align:center; color:white; font-weight:400; text-transform:uppercase; z-index:10; opacity:.9;}
#parallax-world-of-ugg h3 {font-family:'Oswald', sans-serif; font-size:14px; line-height:0; font-weight:400; letter-spacing:8px; text-transform: uppercase; color:black;}
#parallax-world-of-ugg p {font-family:'Source Sans Pro', sans-serif; font-weight:400; font-size:14px; line-height:24px;}
.first-character {font-weight:400; float: left; font-size: 84px; line-height: 64px; padding-top: 4px; padding-right: 8px; padding-left: 3px; font-family: 'Source Sans Pro', sans-serif;}

.sc {color: #3b8595;}
.ny {color: #3d3c3a;}
.atw {color: #c48660;}

/* Section - Title */
/**************************/
#parallax-world-of-ugg .title {background: white; padding: 60px; margin:0 auto; text-align:center;}
#parallax-world-of-ugg .title h1 {font-size:35px; letter-spacing:8px;}

/* Section - Block */
/**************************/
#parallax-world-of-ugg .block {background: white; padding: 60px; width:820px; margin:0 auto; text-align:justify;}
#parallax-world-of-ugg .block-gray {background: #f2f2f2;padding: 60px;}
#parallax-world-of-ugg .section-overlay-mask {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: black; opacity: 0.70;}

/* Section - Parallax */
/**************************/
#parallax-world-of-ugg .parallax-one {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url(https://images.pexels.com/photos/256737/pexels-photo-256737.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: top center;}
#parallax-world-of-ugg .parallax-two {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url(https://images.pexels.com/photos/547116/pexels-photo-547116.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: center center;}
#parallax-world-of-ugg .parallax-three {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url(https://images.pexels.com/photos/794064/pexels-photo-794064.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: center center;}

/* Extras */
/**************************/
#parallax-world-of-ugg .line-break {border-bottom:1px solid black; width: 150px; margin:0 auto;}

/* Media Queries */
/**************************/
@media screen and (max-width: 959px) and (min-width: 768px) {
  #parallax-world-of-ugg .block {padding: 40px; width:620px;}
}
@media screen and (max-width: 767px) {
  #parallax-world-of-ugg .block {padding: 30px; width:420px;}
  #parallax-world-of-ugg h2 {font-size:30px;}
  #parallax-world-of-ugg .block {padding: 30px;}
  #parallax-world-of-ugg .parallax-one, #parallax-world-of-ugg .parallax-two, #parallax-world-of-ugg .parallax-three {padding-top:100px; padding-bottom:100px;}
}
@media screen and (max-width: 479px) {
  #parallax-world-of-ugg .block {padding: 30px 15px; width:290px;}
}
    </style>
  </head>
<body>
<div id="parallax-world-of-ugg">
  
<section>
  <div class="title">
    <h3>Let's do some</h3>
    <h1>PHOTOGRAPHY</h1>
  </div>
</section>

<section>
    <div class="parallax-one">
      <h2>WEDDING</h2>
    </div>
</section>

<section>
  <div class="block">
    <p><span class="first-character sc">Y</span>ou need that perfect image for your campaign, wedding, birthday or any other event, and you need to find it quickly and easily. Our agency and set of professional photographers stand out from the pack. We at photogrpher's hub are positioned to see that you get the best pictures and photoshoot experience for your occassion. For premium access, you can register on our site and get access to some of our photographers and their portfolio.</p>
    <p class="line-break margin-top-10"></p>
    <p class="margin-top-10">Our brand started in 2010, it began to bridge the gap we found in the market which is seamless access to great photography. From that time we have grown, eveolved, expanded and sharpen our skills to be more effective, efficient and timely in our service delivery. Our brand is set to symbolize beauty, adventure, nature and the great outdoor. We are ready to travel to any location where the job leads. Photography is our passion and we follow wherever it leads. We would be delighted to be part of your special occassion and incase you need some cheering we will be happy to be your cheeerleader too at no added cost. we aim to please</p>
</section>

<section>
  <div class="parallax-two">
    <h2>OUTDOOR</h2>
  </div>
</section>

<section>
  <div class="block">
    <p><span class="first-character ny">W</span>e are open to new photographers as we aim to expand our team and coverage. We hope that in 2 years we would have photographers accross the country. Our doors are always open to fresh talent and hardworking photographers. Starting off a career in photography can be daunting, so we understand. That is why we have provided this platform. </p>
    <p class="line-break margin-top-10"></p>
    <p class="margin-top-10">Fueled by our passion, we have travelled round the country covering events and building our network. We have worked with celebrities from different industries such as the movie industry, entertainment industry and fashion industry. Our work has also graced the covers of some major publications, magazines and editorials. </p>
  </section>

  <section>
  <div class="parallax-three">
    <h2>FASHION</h2>
  </div>
</section>

<section>
  <div class="block">
    <p><span class="first-character atw">T</span>he success behind the portfolio of many models lies in the hands of a fashion photographer. This genre of photography is dedicated to showing fashion apparel and accessories in a way that enhances them. Over a period of time, fashion photography has developed its own aesthetic with beauty of clothes, models, and accessories, enhanced by the use of exotic locations, storylines and stylized photographic techniques.</p>
    <p class="line-break margin-top-10"></p>
    <p class="margin-top-10">Our photography agency provides a fast high quality PR (Public Relations), Editorial and Corporate photography service. The agency is based in Abuja's city centre with a fully equipped modern digital studio and has some of the country's most exciting and innovative photographers. Photographer's hub is one of Nigeria's premier photographic agencies. As Public Relations, Press and Commercial Photographers we are experienced in a diverse spectrum of photography so we understand exactly what it is like to need high quality images which look great and support you when raising your profile.</p>
  </div>
</section>
  
</div>

</body>
</html>
