<p></p><br/><h1 class="mt-4">Gallery</h1>
<p class="lead mb-3"></p>




<div id="images">
    <img alt="photographer" src="https://images.pexels.com/photos/2681751/pexels-photo-2681751.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
    width="400" height="500" style="margin:  20px 20px" ></a>
    <div class="caption"> </div>
    <img alt="photographer" src="https://images.pexels.com/photos/3651597/pexels-photo-3651597.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
    width="400" height="500" style="margin: 20px 20px"> 

 <div class="caption"></div>
</div>

<div id="images">
 <img alt="photographer" src="https://images.pexels.com/photos/2772099/pexels-photo-2772099.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
    width="400" height="500" style="margin: 20px 20px">
 <div class="caption"></div>


   <img alt="photographer" src="https://images.pexels.com/photos/1826016/pexels-photo-1826016.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
    width="400" height="500" style="margin: 20px 20px"> 
 <div class="caption"></div>

</div><br>
<a href="/users/logout" type="submit" class="btn btn-secondary">Logout</a>


<style>
    #images{
    text-align:center;
    margin:50px auto;
    display: inline-block;
    align-content: center;
}

    </style>